!!!
html
    head
        title Watched Github Repos
        script(type='text/javascript')
            var _GLOBALS = !{JSON.stringify(jsvars)};
        link(rel="stylesheet", href="/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="/bootstrap/font-awesome.css")
        link(rel="stylesheet", href="/css/main.css")
        script(src='/js/lib/jquery-1.7.2.min.js')
        script(src='/js/lib/underscore-min.js')
        script(src='/js/lib/backbone-min.js')
        script(src='/js/lib/spin.js')
        script(src='/bootstrap/dropdown.js')
        script(src='/js/main.js')
    body!= body