body{background-color:#aaa;padding-top:60px;background:url("/img/mainbk.jpg")}
.container{width:500px}
.main_icon{font-size:23px;color:#fff;margin:3px 10px 0}
.maindropdown{cursor:pointer;display:none;}
.maindropdown .icons{margin-left:5px}
.maindropdown b{color:#dedede}
.box{background:-webkit-linear-gradient(top,rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.7) 50%,rgba(255,255,255,0.9) 100%);-webkit-box-shadow:0 2px 10px #000;border-radius:7px;padding:15px;margin:0 0 10px 0;position:relative}
#login{display:none;margin:0 auto;width:500px;}
#login .btn{font-size:16px;padding:10px}
#login .intro{font-size:14px;margin:0 0 15px}
#loader{margin:0 auto;width:500px;display:none;}
#loader .title{font-size:18px;font-weight:bold;text-align:center;margin:10px 0 0}
#loader #spinner{height:100px}
#watched{display:none;}
#watched h2{color:#fff;margin:10px 0}
#watched .groupcontainer .watched-item .title .project{font-size:22px;font-weight:bold;float:left;width:80%;color:#000}
#watched .groupcontainer .watched-item .title .info{float:left;width:20%;text-align:right}
#watched .groupcontainer .watched-item .desc{clear:both;padding:5px 0}
#watched .groupcontainer .watched-item .link i{margin-right:5px}
#watched .groupcontainer .watched-item .expander{color:#707070;font-size:16px;position:absolute;bottom:10px;right:15px;cursor:pointer;}
#watched .groupcontainer .watched-item .expander:hover{color:#000}
#watched .groupcontainer .watched-item .extra_info{display:none;background-color:rgba(0,0,0,0.1);border-radius:7px;padding:5px 10px;margin:5px -5px 0;width:95%}
#watched .groupcontainer .watched-item .remove{font-size:20px;position:absolute;right:10px;bottom:5px;color:#999;cursor:pointer;}
#watched .groupcontainer .watched-item .remove:hover{color:#707070}
#watched .groupcontainer .watched-item .removeconfirm{display:none;position:absolute;z-index:100;padding:5px 0;right:5px;bottom:-5px;}
#watched .groupcontainer .watched-item .removeconfirm .btn{margin:0 5px}
